* {
  box-sizing: border-box;
  color: black;
}

body {
  margin: 0% 10%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

header {
  display: grid;
  grid-gap: 20pz;
  background-color: rgba(30, 30, 30, 0.7);
  list-style: none;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

h1 {
  position: relative;
  justify-self: flex-end;
  white-space: nowrap;
  display: inline;
  grid-column: 1 / span 2;
  font-size: 25px;
  background-color: white;
  padding-left: 60%;
  padding-right: 2%;
  margin-left: 0px;
}

.main-nav {
  grid-column: 5 / span 4;
}

ul {
  text-align: end;
  margin-right: 30px;
  margin-top: 25px;
}

li {
  display: inline;
  padding: 0 1vw;
}

a {
  text-decoration: none;
}

.hero-banner {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  background-image: url("/assets/images/02-hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.photo {
  position: relative;
  border: solid black 2px;
  border-radius: 50%;
  width: 130%;
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  justify-self: end;
  align-self: center;
}
.sub-title {
  justify-self: end;
  margin-right: 35px;
  grid-row: 2;
  grid-column: 5 / span 4;
}

h2 {
  color: aqua;
}

.page-wrapper {
  display: grid;
  grid-gap: 20pz;
  list-style: none;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.page-section {
  grid-column: 2;
  border-right: solid blue 2px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.page-section :nth-child(2) {
  margin-top: 110px;
  margin-left: 0px;
}

.page-section :nth-child(3) {
  margin-left: -30px;
  padding-right: 0px;
  margin-top: 810px;
}

.content {
  grid-row: 1;
  grid-column: 3 / span 6;
  margin: 40px 20px 40px 20px;
}

h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 20px;
}

p {
  margin: 0;
  text-align: justify;
}

.image-grid {
  --gap: 5px;
  --num-cols: 4;
  --row-height: 200px;

  box-sizing: border-box;
  padding: var(--gap);
  background-color: aqua;
  border: 2px solid aqua;
  margin-top: 30px;

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid :nth-child(1) {
  grid-column: auto / span 4;
  grid-row: auto / span 2;
}

.image-grid :nth-child(2) {
  grid-column: auto / span 2;
  grid-row: auto / span 1;
}

.image-grid :nth-child(3) {
  grid-column: auto / span 2;
  grid-row: auto / span 1;
}

.image-grid :nth-child(4) {
  grid-column: auto / span 2;
  grid-row: auto / span 1;
}

.image-grid :nth-child(5) {
  grid-column: auto / span 2;
  grid-row: auto / span 1;
}

.image-grid-col-2 {
  grid-column: span 2;
}
.image-grid-row-2 {
  grid-row: span 2;
}
.text1 {
  position: absolute;
  margin-top: -10%;
  z-index: 100;
  background-color: aqua;
  padding: 5px;
}

.text2 {
  position: absolute;
  margin-top: -6.5%;
  z-index: 100;
  background-color: aqua;
  padding: 5px;
}

.footer {
  display: grid;
  grid-column: 3 / span 6;
  grid-row: 1;
  align-items: flex-end;
  justify-content: center;
  word-spacing: 15px;
  margin-bottom: 28px;
}

@media screen and (max-width: 1024px) {
  .main-nav {
    grid-column: 4 / span 5;
  }
  .image-grid {
    --num-cols: 4;
    --row-height: 150px;
    background-color: blueviolet;

    .image-grid :nth-child(1) {
      grid-column: auto / span 2;
      grid-row: auto / span 2;
    }

    .image-grid :nth-child(2) {
      grid-column: auto / span 1;
      grid-row: auto / span 1;
    }

    .image-grid :nth-child(3) {
      grid-column: auto / span 1;
      grid-row: auto / span 1;
    }

    .image-grid :nth-child(4) {
      grid-column: auto / span 1;
      grid-row: auto / span 1;
    }

    .image-grid :nth-child(5) {
      grid-column: auto / span 1;
      grid-row: auto / span 1;
    }
  }

  .page-section {
    margin-left: auto;
  }

  .page-section :nth-child(2) {
    margin-top: 130px;
  }

  .page-section :nth-child(3) {
    margin-top: 630px;
  }

  .text2 {
    margin-top: -9%;
    width: 14%;
  }

  .text2 > h3 {
    font-size: 16px;
  }
  .text2 > p {
    font-size: 13px;
  }
}

@media screen and (max-width: 769px) {
  header {
    grid-template-columns: repeat(9, 1fr);
    margin-top: -2%;
  }

  header > h1 {
    grid-column: 5;
    justify-self: start;
    padding: 0%;
    margin-bottom: -1%;
  }

  .main-nav {
    grid-column: 3 / span 5;
    display: inline;
    grid-row: 2;
    justify-self: center;
    padding: 0%;
    margin-left: -3%;
    margin-top: -4%;
  }

  .photo {
    width: 150px;
  }
  .sub-title {
    margin-top: -30px;
    grid-column: 4 / span 6;
  }

  .content {
    grid-column: 1 / span 8;
  }

  .content > p {
    text-align: center;
  }
  .image-grid {
    --num-cols: 1;
    --row-height: 300px;
    background-color: black;
  }

  .image-grid :nth-child(1) {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  }

  .image-grid :nth-child(2) {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  }

  .image-grid :nth-child(3) {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  }

  .image-grid :nth-child(4) {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  }

  .image-grid :nth-child(5) {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  }
  .text1 {
    margin-top: -12%;
  }
  .text2 {
    margin-top: -10%;
    width: 20%;
  }

  .text2 > h3 {
    font-size: 16px;
  }
  .text2 > p {
    font-size: 13px;
  }

  .page-section {
    display: none;
  }

  .footer {
    margin-bottom: -60px;
    grid-column: 1 / span 8;
    padding: 0%;
    margin-left: -2%;
  }
}
